@use 'mixins' as mix;

// Responsive icons positioning
@media (max-width: 768px) {
    .background-icons {
        i {
            font-size: 2.5rem;
        }

        .plane {
            @include mix.icon-style(5%, 3%, 2.5rem);
        }

        .suitcase {
            @include mix.icon-style(55%, 85%, 3rem);
        }

        .location {
            @include mix.icon-style(85%, 5%, 3.5rem);
        }
    }
}

// Mobile View Adjustments
@media (max-width: 600px) {
    .trip-card {
        flex-direction: column;
        text-align: center;

        img {
            width: 100%;
            margin-bottom: 10px;
        }
    }

    .new-trip {
        align-items: center;
    }
    .buttons {
        flex-direction: column; // Stack buttons
        align-items: center; // Center-align
    }
}