// Colors
$primary-bg: #F8E1E3;
$secondary-bg: #ddd;
$button-dark: #000;
$button-hover: #333;
$button-disabled: #888;

// Fonts
$font-primary: "Times New Roman", serif;
$font-secondary: Arial, sans-serif;

